DATABASE_URL="mongodb://harshita_db_user:D%40s04AuGEn@ac-hjb5ib7-shard-00-00.wulowgv.mongodb.net:27017,ac-hjb5ib7-shard-00-01.wulowgv.mongodb.net:27017,ac-hjb5ib7-shard-00-02.wulowgv.mongodb.net:27017/fileGenie?ssl=true&replicaSet=atlas-9g9gq2-shard-0&authSource=admin&appName=harshita-mongoDB";