.footer{
    position: relative;
    width:100%;
    height:auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 10px;
    background-color: var(--color-white);
    margin-bottom:0;
}
.footer img{
    width: 300px;
    height: 100px;
}
.privacy, .copyright, .rightsReserved{
    text-align: center;
    color: var(--color-grey);
}
.privacy{
    font-size: 1.4vw;
}
.footer hr{
    justify-content: center;
    width: 75%;
    color: var(--color-grey);
}
.copyright, .rightsReserved{
    font-size: 1.2vw;
}