.navbar{
    position: relative;
    width:100%;
    height:auto;
    padding: 8px;
    display: flex;
    justify-content: center;
    background-color: var(--color-white);
}
.navbar img{
    width: 300px;
    height: 100px;
}