@import url('https://googleapis.com');

.content{
    position: relative;
    background-color: #6b945d;
    color: white;
    padding: 12px;
}
.ad-text{
    font-family:'Crimson Pro';
    font-size: 200%;
    text-align: center;
    font-weight: 100;
    line-height: 1.5;
}
.wavy-hr{
    border: none; 
    height: 12px; 
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 12'%3E%3Cpath d='M0 6 Q 5 1, 10 6 T 20 6' fill='none' stroke='%23ffffff' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E");
    background-repeat: repeat-x; 
    margin: 20px 0;
}
.heading{
   font-size: large;
    font-family: cursive; 
    font-size: 180%;
    margin: 10px;
}
.convert-btn{
    background-color: white;
    color:#6b945d;
    font-family: cursive;
    font-size: 20px;
    border:none;
    border-radius: 8px;
    padding: 12px;
}