@import url('https://fonts.googleapis.com/css2?family=Kawaii+Hand&family=Itim&family=Patrick+Hand&family=Fredoka:wght@400;600&family=Quicksand:wght@500;700&display=swap');

:root {
  --color-grayGreen: #6b945d;
  --color-white: white;
  --color-black: black;
  --color-grey: grey;

  --font-heading: 'Fredoka', sans-serif;
  --font-text: 'Quicksand', sans-serif;
  --font-handwriting:'Kawaii Hand';
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--font-heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

